@use './breakpoints.scss' as *;
@use './fluid.scss' as *;

:root {
	--grid-column-count: 12;
	--grid-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
	--grid-gutter: #{fluid(12, 24)};

	@include breakpoint($breakpoint-01) {
		--grid-column-count: 8;
	}

	@include breakpoint($breakpoint-02) {
		--grid-column-count: 4;
	}
}

@mixin grid-columns($columnCount) {
	grid-template-columns: repeat($columnCount, minmax(0, 1fr));
	column-gap: var(--grid-gutter);
}
