@use './fluid.scss' as *;

:root {
	--typography-size-01: #{fluid(20, 26)};
	--typography-size-02: #{fluid(32, 64)};

	--typography-line-height-01: 1.42;
	--typography-line-height-02: 1.125;

	--typography-weight-01: 500;
}

@mixin typography-01 {
	font-size: var(--typography-size-01);
	line-height: var(--typography-line-height-01);
}

@mixin typography-02 {
	font-size: var(--typography-size-02);
	line-height: var(--typography-line-height-02);
}
